.container {
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

@include media-phone {
  .container {
    min-width: 480px;
  }
}

@include media-tablet {
  .container {
    width: 704px;
  }
}

@include media-desktop {
  .container {
    width: 1110px;
  }
}
