.container {
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

@include media-phone {
  .container {
    max-width: 510px;
  }
}

@include media-tablet {
  .container {
    width: 734px;
  }
}

@include media-desktop {
  .container {
    width: 1140px;
  }
}
