.modal {
  @include absolute();
  width: 100%;

  background-color: getColor('primary');
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;

  transition: opacity 400ms, visibility 400ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    -webkit-animation: scale-in-ver-center-reverse 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
    animation: scale-in-ver-center-reverse 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  }

  &:not(.is-hidden) {
    -webkit-animation: scale-in-ver-center 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
}

.modal-contacts {
  padding: 52px 20px 50px 20px;

  border-radius: 16px;

  @include media-phone {
    width: 480px;
  }

  @include media-tablet {
    width: 530px;
    padding: 60px;
  }
}

.modal__close-btn {
  position: absolute;
  z-index: 10;
  top: 12px;
  right: 12px;

  @include flexed;

  background-color: inherit;

  border-color: transparent;
  border-radius: 50%;

  cursor: pointer;

  transition: color 250ms, fill 250ms;

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  @include media-tablet {
    top: 20px;
    right: 20px;
  }
}

.modal__close-icon {
  fill: currentColor;
}

.form__btn {
  @include flexed();
  width: 192px;
  height: 48px;

  @include main-font(400, 16px, 1.5);
  color: getColor('primary');

  background-color: getColor('accent');

  border: none;
  border-radius: 8px;

  cursor: pointer;

  &--contacts-style {
    display: block;
    margin: 0 auto;

    @include media-tablet {
      width: 224px;
      height: 54px;
      font-size: 24px;
    }
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include media-tablet {
    gap: 40px;
  }
}

.form__fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  flex-direction: column;
  gap: 8px;

  user-select: none;

  @include media-tablet {
    gap: 12px;
  }
}

.form__title {
  display: block;
  max-width: 273px;

  font-family: 'Montserrat', sans-serif; // треба додати в міксин!
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  color: #35322d; // треба додати в змінні!

  @include media-tablet {
    margin: 0 auto;
    text-align: center;
    max-width: 410px;
    font-size: 28px;
  }

  @include media-desktop {
    font-size: 32px;
  }
}

.form__field {
  height: 50px;
  background: getColor('primary');
  @include bordered(1px, #3a3631); // треба додати в змінні!
  border-radius: 16px;

  padding: 16px;

  outline: unset;

  transition: border-color 250ms;

  &:focus {
    border-color: getColor('accent');
  }

  &:invalid {
    border-color: #ff0000; // треба додати в змінні!
  }

  &::placeholder {
    font-family: 'Montserrat', sans-serif; // треба додати в міксин!
    font-size: 14px;
    line-height: 1.2;

    color: #999ea3;
  }

  @include media-tablet {
    height: 52px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-4 12:37:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-center-reverse {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center-reverse {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
