.download-modal {
  position: relative;

  @include flexed(space-between);
  width: 562px;
  height: 208px;

  padding: 24px 44px 32px 40px;

  background-color: #ede9e3; // в змінні
  border-radius: 24px;

  @media screen and (min-width: 562px) {
    &::before {
      content: '';
      position: relative;
      z-index: 4;

      display: block;
      flex-basis: 112px;
      height: 134px;

      background-image: url('../images/png/download_catalog.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (max-width: 562px) {
    width: 100%;
    padding: 15px;
  }
}

.modal__close-btn--download-modal-style {
  top: 8px;
  right: 8px;
  color: getColor('accent');
}

.download-modal__content-wrapper {
  display: none;

  width: 294px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (max-width: 562px) {
    width: 100%;
  }
}

.download-modal__text {
  @include main-font(600, 16px, 1.5);
  color: getColor('accent');

  &--thin {
    font-weight: 300;
  }

  &:nth-child(1) {
    width: 180px;
  }

  &:nth-child(2) {
    width: 249px;
  }
}

.download-modal__form {
  position: relative;
}

.download-modal__field {
  width: 100%;
  height: 32px;
  padding: 6px 40px 6px 16px;

  @include main-font(700, 10px, 1.5);

  color: getColor('third');

  background-color: inherit;
  border: 1px solid getColor('accent');
  border-radius: 8px;

  outline: unset;

  &::placeholder {
    @include main-font(700, 10px, 1.5);
    color: #000000;

    opacity: 0.3;
  }

  &:invalid {
    border-color: #ff0000; // треба додати в змінні!
  }
}

.download-modal__btn {
  position: absolute;
  top: 0;
  right: 0;

  width: auto;
  height: 32px;
  @include flexed();
  justify-content: flex-end;

  margin-right: 18px;

  background-color: inherit;

  border: none;

  cursor: pointer;
}

.download-modal__btn-icon {
  fill: getColor('accent');
}

.download-modal--hidden {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;

  transition: opacity 250ms, visibility 250ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.download-modal__popup-wrapper {
  & > .download-modal__text:first-child {
    text-align: center;
  }

  & > .download-modal__text:last-child {
    margin-top: 16px;
  }

  @media screen and (max-width: 562px) {
    margin: 0 auto;
    width: 200px;
  }
}

.download-modal--great {
  display: none;
}

.block {
  display: block;
}

.none {
  display: none;
}
