<section class="about" id="about">
  <div class="about-info">
    <div class="container container__about">
      <div class="about-info__wrapper">
        <ul class="about-info__list">
          <li class="about-info__item">
            <svg class="about-info__icon" width="32" height="32">
              <use
                href="./images/svg/symbol-defs.svg#icon-benefit_suitcase"
              ></use>
            </svg>
            <p class="about-info__text">15 years of experience</p>
          </li>
          <li class="about-info__item">
            <svg class="about-info__icon" width="32" height="32">
              <use href="./images/svg/symbol-defs.svg#icon-benefit_gruph"></use>
            </svg>
            <p class="about-info__text">30 thousand happy residents</p>
          </li>
          <li class="about-info__item">
            <svg class="about-info__icon" width="32" height="32">
              <use href="./images/svg/symbol-defs.svg#icon-benefit_home"></use>
            </svg>
            <p class="about-info__text">22 houses built</p>
          </li>
          <li class="about-info__item">
            <svg class="about-info__icon" width="32" height="32">
              <use
                href="./images/svg/symbol-defs.svg#icon-benefit_awards"
              ></use>
            </svg>
            <p class="about-info__text">9 awards</p>
          </li>
        </ul>
      </div>
      <div class="about-info__info">
        <h3 class="about-info__title">Philosophy of our company</h3>
        <p class="about-info__subtitle">
          Residential complex “Nice view” is an island of tranquility, security
          and comfort. <br />
          In our project, we created the opportunity to lead a measured life in
          the very center of the city.
        </p>
      </div>
    </div>
  </div>
</section>
