<section class="apartment" id="apartments">
  <div class="container">
    <h2 class="apartment__title">Choose your apartment</h2>
    <ul class="apartment__list">
      <li class="apartment__item" data-modal-info-open>
        <a class="apartment__link" href="">
          <div class="type__wrapper">
            <picture class="type_img">
              <source
                srcset="
                  ./images/png/apartment/type1__desc.png   1x,
                  ./images/png/apartment/type1__desc@2.png 2x
                "
                type="image/png"
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/png/apartment/type1__tab.png   1x,
                  ./images/png/apartment/type1__tab@2.png 2x
                "
                type="image/png"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/png/apartment/type1__mob.png   1x,
                  ./images/png/apartment/type1__mob@2.png 2x
                "
                type="image/png"
                media="(min-width:320px)"
              />
              <img src="./images/png/apartment/type1__desc.png" alt="t1" />
            </picture>
            <h3 class="type__title">Type 1</h3>
            <p class="type__text">total area 23 meters</p>
          </div>
        </a>
      </li>
      <li class="apartment__item" data-modal-info-open>
        <a class="apartment__link" href="">
          <div class="type__wrapper">
            <picture class="type_img">
              <source
                srcset="
                  ./images/png/apartment/type2__desc.png   1x,
                  ./images/png/apartment/type2__desc@2.png 2x
                "
                type="image/png"
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/png/apartment/type2__tab.png   1x,
                  ./images/png/apartment/type2__tab@2.png 2x
                "
                type="image/png"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/png/apartment/type2__mob.png   1x,
                  ./images/png/apartment/type2__mob@2.png 2x
                "
                type="image/png"
                media="(min-width:320px)"
              />
              <img src="./images/png/apartment/type2__desc.png" alt="t1" />
            </picture>
            <h3 class="type__title">Type 2</h3>
            <p class="type__text">total area 27 meters</p>
          </div>
        </a>
      </li>
      <li class="apartment__item" data-modal-info-open>
        <a class="apartment__link" href="">
          <div class="type__wrapper">
            <picture class="type_img">
              <source
                srcset="
                  ./images/png/apartment/type3__desc.png   1x,
                  ./images/png/apartment/type3__desc@2.png 2x
                "
                type="image/png"
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/png/apartment/type3__tab.png   1x,
                  ./images/png/apartment/type3__tab@2.png 2x
                "
                type="image/png"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/png/apartment/type3__mob.png   1x,
                  ./images/png/apartment/type3__mob@2.png 2x
                "
                type="image/png"
                media="(min-width:320px)"
              />
              <img src="./images/png/apartment/type3__desc.png" alt="t1" />
            </picture>
            <h3 class="type__title">Type 3</h3>
            <p class="type__text">total area 31 meters</p>
          </div>
        </a>
      </li>
    </ul>
    <button class="apartment__btn" type="button" data-modal-down-open>
      Download catalog
    </button>
  </div>
</section>
