<section class="contacts" id="contacts">
  <div class="container contacts-conteiner">
    <div class="contacts__titles">
      <h2 class="contacts__title contacts__title--style">Get in touch!</h2>
      <h3 class="contacts__subtitle contacts__title--style">
        Contact us for a quote.
      </h3>
    </div>
    <div class="contacts__wrapper">
      <address class="address">
        <ul class="address__items">
          <li class="address__item">
            <a
              class="address__link"
              href="https://goo.gl/maps/8JpEDEgwKiqrS9L96"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="address__icon" width="24" height="24">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arcticons_map"
                ></use>
              </svg>
              <span class="address__text">4517 Washington Ave.</span>
            </a>
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:willie.jennings@example.com">
              <svg class="address__icon" width="24" height="24">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arcticons_spike-email"
                ></use>
              </svg>
              <span class="address__text">willie.jennings@example.com</span>
            </a>
          </li>
          <li class="address__item">
            <a class="address__link" href="tel:+33700555479">
              <svg class="address__icon" width="24" height="24">
                <use
                  href="./images/svg/symbol-defs.svg#icon-arcticons_phone"
                ></use>
              </svg>
              <span class="address__text">(+33)7 00 55 54 79</span>
            </a>
          </li>
        </ul>
      </address>
      <button class="contacts__button" type="button" data-modal-open>
        Contact us
      </button>
    </div>
  </div>
</section>
