<section class="footer" id="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a class="footer-logo__link" href="./index.html">
          <svg class="footer-logo__svg" width="56" height="56">
            <use href="./images/svg/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer-nav__wrapper">
        <div class="footer-nav">
          <h3 class="footer-nav__title">Navigation</h3>
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a class="footer-nav__link fancy" href="./index.html">Home</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link fancy" href="#about">About</a>
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link fancy" href="#apartments"
                >Apartments</a
              >
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link fancy" href="#infrastructure"
                >Infrastructure</a
              >
            </li>
            <li class="footer-nav__item">
              <a class="footer-nav__link fancy" href="#gallery">Gallery</a>
            </li>
          </ul>
        </div>
        <div class="footer-address">
          <h3 class="footer-address__title">Contacts</h3>
          <address class="footer-address__address">
            <ul class="footer-address__list">
              <li class="footer-address__item">
                <a class="footer-address__link" href="tel:(406)5550120"
                  >(406) 555-0120</a
                >
              </li>
              <li class="footer-address__item">
                <a
                  class="footer-address__link"
                  href="https://goo.gl/maps/jiKZPR5dMz24QJ927"
                  target="_blank"
                  rel="noreferrer noopener"
                  >Chodkiewicza Karola 111, Chorzów</a
                >
              </li>
              <li class="footer-address__item">
                <a
                  class="footer-address__link"
                  href="mailto:deanna.curtis@example.com"
                  >deanna.curtis@<span>example.com</span></a
                >
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="footer-social">
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-social__icon" width="24" height="24">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-social__icon" width="24" height="24">
                <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-social__icon" width="24" height="24">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a
              class="footer-social__link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-social__icon" width="24" height="24">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-agreement">
      <span class="footer-agreement__text">
        By using this website, you agree to the
        <a class="footer-agreement__link" href="">Terms of Service</a>
        and
        <a class="footer-agreement__link" href="">Privacy Policy</a>
      </span>
    </div>
  </div>
</section>
