<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="swiper gallery__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper gallery__slider-wrapper">
        <!-- Slides -->
        <div class="swiper-slide gallery__slide">
          <img
            srcset="
              ./images/content/gallery/gallery-1.jpg   1x,
              ./images/content/gallery/gallery-1@2.jpg 2x
            "
            src="./images/content/gallery/gallery-1.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            srcset="
              ./images/content/gallery/gallery-2.jpg   1x,
              ./images/content/gallery/gallery-2@2.jpg 2x
            "
            src="./images/content/gallery/gallery-2.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            srcset="
              ./images/content/gallery/gallery-3.jpg   1x,
              ./images/content/gallery/gallery-3@2.jpg 2x
            "
            src="./images/content/gallery/gallery-3.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            srcset="
              ./images/content/gallery/gallery-4.jpg   1x,
              ./images/content/gallery/gallery-4@2.jpg 2x
            "
            src="./images/content/gallery/gallery-4.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div
        id="#pagination"
        class="swiper-pagination gallery__slider-pagination"
      ></div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="gallery__slider-button gallery__slider-button--prev">
      <svg class="gallery__button-svg" width="30" height="32">
        <use href="./images/svg/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="gallery__slider-button gallery__slider-button--next">
      <svg class="gallery__button-svg" width="30" height="32">
        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
