<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="swiper gallery__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper gallery__slider-wrapper">
        <!-- Slides -->
        <div class="swiper-slide gallery__slide">
          <img
            src="./images/content/gallery/slider2_desc.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            src="./images/content/gallery/slider2_desc.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            src="./images/content/gallery/slider2_desc.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            src="./images/content/gallery/slider2_desc.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            src="./images/content/gallery/slider2_desc.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            src="./images/content/gallery/slider2_desc.jpg"
            alt=""
            class="gallery__img"
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <div
        id="#pagination"
        class="swiper-pagination gallery__slider-pagination"
      ></div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="gallery__slider-button gallery__slider-button--prev">
      <svg class="gallery__button-svg" width="30" height="32">
        <use href="./images/svg/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="gallery__slider-button gallery__slider-button--next">
      <svg class="gallery__button-svg" width="30" height="32">
        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
