<header class="header" id="header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo">
      <svg class="icon__logo" width="36" height="28">
        <use href="./images/svg/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link fancy" href="">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link fancy" href="#about">About</a>
        </li>
        <li class="header__item">
          <a class="header__link fancy" href="#apartments">Apartments</a>
        </li>
        <li class="header__item">
          <a class="header__link fancy" href="#infrastructure"
            >Infrastructure</a
          >
        </li>
        <li class="header__item">
          <a class="header__link fancy" href="#gallery">Gallery</a>
        </li>
        <li class="header__item">
          <a class="header__link fancy" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header__button" type="button" data-modal-open>
      Contact us
    </button>
    <div class="burger__button">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle__icon" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="24" height="24">
      <use href="./images/svg/symbol-defs.svg#icon-close_btn"></use>
    </svg>
  </button>
  <ul class="mobile__list">
    <li class="mobile__item">
      <a class="mobile__link" href="./index.html">Home</a>
    </li>
    <li class="mobile__item">
      <a class="mobile__link" href="#about">About</a>
    </li>
    <li class="mobile__item">
      <a class="mobile__link" href="#apartments">Apartments</a>
    </li>
    <li class="mobile__item">
      <a class="mobile__link" href="#infrastructure">Infrastructure</a>
    </li>
    <li class="mobile__item">
      <a class="mobile__link" href="#gallery">Gallery</a>
    </li>
    <li class="mobile__item">
      <a class="mobile__link" href="#contacts">Contacts</a>
    </li>
  </ul>
</div>
